{% if page.url == "/" %}
  <meta property="og:title" content="{{ settings.metadata.seo.site_title or settings.metadata.site_title }}" data-helmet>
  <meta property="og:description" content="{{ settings.metadata.seo.site_description or settings.metadata.site_description }}" data-helmet>
{% else %}
  <meta property="og:title" content="{{ seo.title or title }}" data-helmet>
  <meta property="og:description" content="{{ seo.description or description }}" data-helmet>
{% endif %}

<meta property="og:type" content="website" data-helmet>
<meta property="og:site_name" content="{{ settings.metadata.site_title }}" data-helmet>

{% set pageURL = settings.metadata.site_url + page.url %}
<meta property="og:url" content="{{ pageURL }}" data-helmet>