{% if projectList | length %}

	<section class="columns columns--projects">

		{% for project in projectList | reverse %}

			<div class="columns__item mb--1">

				<a href="{{ project.url | url }}">

					<figure>

						{# Images are output in the order they appear in project frontmatter #}
      			{# and can be ordered in Tina CMS using drag and drop #}

						{# Set the first project image from the project #}
						{% set image = "" %}
						{% for i in project.data.images %}
							{% if loop.first %}
								{% set image = i %}
							{% endif %}
						{% endfor %}

						{# Make an array of the enabled image formats from settings.yaml #}
						{% set outputFormats = [] %}
						{% for format, i in settings.images %}
							{% if i.enabled === true %}
								{{ '' if outputFormats.push(format) }}
							{% endif %}
						{% endfor %}

						{# Create an object for our project thumbnail image parameters which we can then
        		destructure inside our shortcode function. See eleventy.js for what's going on #}
						{% set params = 
							{
								"src": image.src,
								"alt": image.caption or title,
								"loadingType": "eager" if (loop.first and section != "project") else "lazy",
								"viewportSizes": "(min-width: 1140px) 22vw, (min-width: 540px) 45vw, 85vw",
								"outputWidths": [
									settings.config.image_grid_width_sm,
									settings.config.image_grid_width_md,
									settings.config.image_grid_width_lg
								],
								"outputFormats": outputFormats,
								"outputQualityJpeg": settings.images.jpeg.quality,
								"outputQualityWebp": settings.images.webp.quality,
								"outputQualityAvif": settings.images.avif.quality
							}
						%}

						{# The image shortcode #}
						{% generateImage params %}
						
						<figcaption class="pb--1{% if settings.theme.theme_features.show_project_grid_titles === false %} hide{% endif %}">

							<span class="text--small arrow arrow--right">{{ project.data.title }}</span>

						</figcaption>

					</figure>

				</a>

			</div>

		{% endfor %}

	</section>

{% else %}

	<section>

		<p>There are no projects here yet.</p>

	</section>

{% endif %}
