---
layout: layouts/base.njk
section: page
---
<article>

  <header class="pb--4">

    <div>

      <h1>{{ title }}</h1>

    </div>

  </header>

  <section>

    {{ layoutContent | safe }}

  </section>

</article>

{# Gets appended to <head> during build #}
{# {% include "components/opengraph.njk" %} #}
